body{
	margin: 0;
}

p{
	margin: 10px 0;
	line-height: 1.3;
	font-size: 16pt;
}

h2{
	margin: 20px;
	font-size: 28pt;
	font-weight: 700;
}

h3{
	margin: 15px;
	font-size: 24pt;
	font-weight: 500;
}

a:hover{
	color: #ccc;
}