/* Splash */

#splash{
	position: relative;
}

#splash-image{
	background:  url('../images/splash.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 90vh;
	opacity: 0.8;
}

#splash-text{
	text-align: center;
	font-size: 32pt;
	font-weight: 700;
	color: #fff;
	font-style: italic;

	top: 30vh;
	left: 33vw;
	position: absolute;
}

#splash-content{
	padding: 20;
	text-align: center;
}


#splash-content a{
	text-decoration: none;
	color: #fff;
	background-color: #ccc;
	padding: 20px;
	margin: 20px 10px;
	border-radius: 5px;
	display: inline-block;
}

#splash-content a.orange-btn{
	background-color: #CC8F52;
}

#splash-content a.brown-btn{
	background-color: #8A684C;
}

#splash-content a:hover{
	background-color: #ccc;
	color: #000; 
}

.section .section{
	text-align: center;
	width: 60%;
	margin: auto;
}

.section ul li{
	display: inline-block;
}

.section ul li a{
	color: #000;
	text-decoration: none;
}

.section ul li:after{
	content: " /";
}

.section ul li:last-child:after{
	content: "";
}

.img-col-4{
	position: relative;
	display: inline-block;
	width: auto;
	margin-top: 20px; 
}

.img-col-4 img{
	

	
	height: 200px;
	width: 200px;
	margin: 10px;
	padding: 20px;
	border: 1px solid black;
	border-radius: 5px;

	box-shadow: 2px 2px 5px #ccc;
}

.img-col-4 img:nth-child(5):after{
	clear: both;
}

.img-col-4:after{
	content: "";
	clear: both;
	display: block;
}

#blog{
	width: auto;
	background-color: #eee;
	padding: 10px;
}

.blog-extract{
	width: 35vw;
	text-align: left;
	display: relative;
}

.blog-extract img{
	float: left;
	height: 100%;
	max-width: 35%;
	margin: 20px;
}